{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4">
        <h1>VENTAS</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarVenta/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="number" name="numIdVenta" class="form-control" placeholder="ID de la venta" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="txtNombre" class="form-control" placeholder="Nombre del producto" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="time" name="txtHoraCompra" class="form-control" placeholder="Hora de compra" required>
                    </div>
                    <div class="form-group py-2">
                        <textarea name="txtContenido" class="form-control" placeholder="Contenido" required></textarea>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" name="numCantidad" class="form-control" placeholder="Cantidad" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" step="0.01" name="numTotal" class="form-control" placeholder="Total" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="txtNomCliente" class="form-control" placeholder="Nombre del cliente" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" name="numreg_final" class="form-control" placeholder="Registro final" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h1>Listado de Ventas</h1>
        <img class="w-50" src="{% static  'img/ventas.jpg' %}" alt="inicio" width="400" height="auto">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID Venta</th>
                        <th>Nombre</th>
                        <th>Hora Compra</th>
                        <th>Contenido</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Cliente</th>
                        <th>Registro Final</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in misVentas %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ venta.id_venta }}</td>
                            <td>{{ venta.nombre }}</td>
                            <td>{{ venta.hora_compra }}</td>
                            <td>{{ venta.contenido }}</td>
                            <td>{{ venta.cantidad }}</td>
                            <td>{{ venta.total }}</td>
                            <td>{{ venta.nom_cliente }}</td>
                            <td>{{ venta.reg_final }}</td>
                            <td><a href="{% url 'seleccionarVenta' venta.id_venta %}" class="btn btn-info">Editar</a></td>
                            <td><a href="{% url 'borrarVenta' venta.id_venta %}" class="btn btn-danger">Borrar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
