{% extends "base.html" %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/editarProducto/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="number" name="numCodigo" class="form-control" value="{{ miProducto.codigo }}" readonly required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="txtNombre" class="form-control" value="{{ miProducto.nombre }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" step="0.01" name="numPrecio" class="form-control" value="{{ miProducto.precio }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="txtDireccion" class="form-control" value="{{ miProducto.direccion }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="txtDestinatario" class="form-control" value="{{ miProducto.destinatario }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" name="numCantidad" class="form-control" value="{{ miProducto.cant_producto }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="txtCalidad" class="form-control" value="{{ miProducto.calidad }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="txtsucursal" class="form-control" value="{{ miProducto.id_sucursal }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" name="numstock" class="form-control" value="{{ miProducto.stock }}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="txtprov" class="form-control" value="{{ miProducto.id_prov }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
